.loader-box {
    width: 580px;
    height: 50px;
    position: relative;
    margin: 0 auto;
}

.ball {
    width: 20px;
    height: 20px;
    position: absolute;
    background: var(--color-text-logo);
    top: 45%;
    border-radius: 50%;
}

.ball:nth-child(1) {
    animation: move 1.5s infinite cubic-bezier(.2, .64, .81, .23);
}

.ball:nth-child(2) {
    animation: move 1.5s 150ms infinite cubic-bezier(.2, .64, .81, .23);
}

.ball:nth-child(3) {
    animation: move 1.5s 300ms infinite cubic-bezier(.2, .64, .81, .23);
}

.ball:nth-child(4) {
    animation: move 1.5s 450ms infinite cubic-bezier(.2, .64, .81, .23);
}


@keyframes move {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}