:root {
    --font-family-global: 'Montserrat', sans-serif;
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --color-text-navbar: rgba(255, 255, 255, 0.6);

    --color-text-main: #FFFFFF;
    --color-text-logo: #18CFAB;

}

body {
    width: 100%;
    font-family: var(--font-family-global);
    font-style: normal;
    font-size: 16px;
}

.wrapper-background {
    background-image: url(../images/bg_header_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1112px;
}

.wrapper-header {
    background: rgba(94, 93, 88, 0.6);
}

.wrapper-content {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.clearfix { 
    clear: both; 
}

.hidden {
    display: none;
}

.container-section-header {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    white-space: nowrap;
    position: relative;
}

.section-header {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.section-header::before {
    content: '';
    display: block;
    height: 1px;
    background: var(--color-text-logo);
    position: absolute;
}

.section-header::after {
    content: '';
    display: block;
    height: 1px;
    background: var(--color-text-logo);
    position: absolute;
}

.footer {
    width: 100%;
    height: 120px;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #AEAEAE;
    font-weight: var(--font-weight-light);
    font-size: 14px;
    line-height: 26px;
}

.footer-color-text {
    color: var(--color-text-logo);
}