.purchase {
    margin-top: 91px;
    width: 100%;
    /* max-width: 1920px; */
    height: 477px;
    margin: 91px auto 0;
    background: url(../images/Sections\ background/section-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.purchase-transparent {
    height: 100%;
    width: 100%;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.78;
    box-sizing: border-box;
    padding: 127px 0 128px;
}

.purchase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchase-header {
    font-weight: var(--font-weight-bold);
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--color-text-logo);
}

.purchase-text {
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin: 15px auto 64px;
}