.our-services {
    width: 100%;
    height: 375px;
    margin-top: 92px;
    font-weight: var(--font-weight-regular);

}

.container-services-header {
    width: 224px;
}

.services-header::before {
    width: 76px;
    left: 68px;
    top: 64px;
}

.services-header::after {
    width: 76px;
    left: 79px;
    top: 68px;
}

.slider-services-btns {
    margin-top: 67px;
    display: flex;
    height: 73px;
}

.services-btn {
    width: 193px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    border-left: 1px solid transparent;
    position: relative;
    cursor: pointer;
}

.services-btn:first-child {
    border-left: 1px solid #EDEFEF;
}

.services-btn:hover {
    border: 1px solid var(--color-text-logo);
}

.services-btn span {
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    pointer-events: none;
    user-select: none;
}

.container-article-decription {
    margin-top: 23px;
}

.article-img {
    float: left;
    margin-right: 13px;
}

.article-text {
    font-weight: var(--font-weight-light);
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.service-active {
    background: var(--color-text-logo);
    border: 1px solid var(--color-text-logo);
}

.service-active span {
    color: var(--color-text-main);
}

.service-active::after {
    content: "";
    display: block;
    transform: rotate(45deg);
    background: var(--color-text-logo);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 84px;
    top: 65px;
    
}